doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='css/main.css')
        link(rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
        title Bussines
    body
        include section/header
        include section/hero
        include section/about
        include section/approch